name: Docker Images

on:
  push:
    branches: [master]

jobs:
  shadowsocks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASS }}
      - run: |
          cd shadowsocks && docker build -t ahxxm/base:shadowsocks .
          docker push ahxxm/base:shadowsocks

  qbittorrent:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASS }}
      - run: |
          cd qbittorrent && docker build -t ahxxm/base:qbittorrent .
          docker push ahxxm/base:qbittorrent

  fo:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASS }}
      - run: |
          cd fo && docker build -t ahxxm/base:fo .
          docker push ahxxm/base:fo
