name: Docker Images

on:
  push:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        image: [shadowsocks, qbittorrent, fo]
    steps:
      - uses: actions/checkout@v6
      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASS }}
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - run: |
          cd ${{ matrix.image }} && docker build -t ahxxm/base:${{ matrix.image }} .
          docker tag ahxxm/base:${{ matrix.image }} ghcr.io/ahxxm/base:${{ matrix.image }}
          docker push ahxxm/base:${{ matrix.image }}
          docker push ghcr.io/ahxxm/base:${{ matrix.image }}
